{% extends 'base.html.twig' %}

{% block title %}About Us {% endblock %}


{% block body %}


<!-- Inclusion de l'en-tête -->
{% include 'partials/header.html.twig' %}

{% include 'partials/nav.html.twig' %}

    <div class="about-page">
        <h1>About Us</h1>

        <p>Welcome to our news platform. We are committed to delivering real-time, verified information in a clear and accessible format.</p>

        <h3>Our Mission</h3>
        <p>We aim to keep you informed with reliable news and updates from around the world, prioritizing journalistic integrity and transparency.</p>

        <h3>What We Offer</h3>
        <ul class="li_about">
            <li>Latest articles with reading time indicators</li>
            <li>Save articles to your favorites</li>
            <li>Dark/light theme options</li>
            <li>Live search & dynamic navigation</li>
        </ul>

        <h3>Meet the Team</h3>
        <p>Our team is composed of passionate journalists, developers, and designers, working together to build a trusted news experience.</p>
    </div>

    {% include 'partials/footer.html.twig' %}
    <link rel="stylesheet" href="{{ asset('assets/css/about.css') }}">
{% endblock %}
