{% extends 'base.html.twig' %}

{% block title %}About Us {% endblock %}


{% block body %}


<!-- Inclusion de l'en-tête -->
{% include 'partials/header.html.twig' %}

{% include 'partials/nav.html.twig' %}

    <div class="about-page">
        <h1>Fonctionnalités améliorées ✅</h1>

        <p>Voici les fonctionnalités récemment mises en place dans ce projet :</p>
        <ul class="li_about">
            <li>Connexion à la base de données <code>press_2024_v03</code></li>
        <li>Ajout d'une table <code>users</code> pour gérer les fonctionnalités de login et signup</li>
        <li>Ajout d'une table <code>favorites</code> pour gérer la page des articles favoris</li>
        <li>Implémentation de cookies pour améliorer l'expérience utilisateur</li>
        <li>Mise en place de la page <strong>About</strong></li>
        <li>Adoption d'une bonne architecture MVC avec le framework Symfony</li>
        <li>Connexion possible en tant que client ou administrateur</li>
        <li>En tant qu'administrateur :
            <ul>
                <li>Suppression d'utilisateurs</li>
                <li>Modification et suppression d'articles</li>
            </ul>
        </li>
        </ul>

        <h3>Meet the Team</h3>
        <p>Our team is composed of passionate journalists, developers, and designers, working together to build a trusted news experience.</p>
    </div>

    {% include 'partials/footer.html.twig' %}
    <link rel="stylesheet" href="{{ asset('assets/css/about.css') }}">
{% endblock %}
