<footer class="footer">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4">
                <ul>
                  {% if app.user %}
                    <li><a href="{{ path('app_logout') }}">Log Out</a></li>
                  {% else %}
                    <li><a href="{{path('app_login')}}">Log In</a></li>
                 {% endif %}
                    <li><a href="{{path('app_about')}}">About Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>&copy; {{ "now"|date("Y") }} Newswire Jamaica</p>
            </div>
            <div class="col-md-4 text-right">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
