<footer class="footer">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>&copy; {{ "now"|date("Y") }} Newswire Jamaica</p>
            </div>
            <div class="col-md-4 text-right">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
