/* Responsive for mobile */
@media (max-width: 827px) {
  .none-num {
    display: none;
  }

  header {
    .header-container {
      min-width: 100%;

      .logo-img {
        min-width: 30%;
      }

      .header-ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        .header-btn-resp {
          ul {
            max-width: 90%;
            display: flex;
            li {
              margin: 5px;
            }
          }
        }
      }
    }
  }

  .articles_body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    .contenu {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      .left {
        display: none;
      }

      .right {
        min-width: 98%;
        padding: 50px;
      }
    }
  }
}

@media (max-width: 545px) {
  .container1 {
    .none-div {
      display: none;
    }
    article {
      display: flex;
      flex-direction: column;
    }
  }
}

/* Responsive for mobile */
@media (max-width: 480px) {
  header {
    width: 100%;
  }

  .dropdown-menu {
    font-size: small;
    padding: 0;
  }

  nav {
    .container {
      max-width: 100%;
      height: fit-content;

      .rownav {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        div {
          border-bottom: 1px solid gray;
        }
      }
    }
  }
}
